// ======= FOOTER =======
section.col-m-12.footer
  .row.container.footer-menu.text-center
    .col-m-4.footer-segment.footer-about
      h3.footer-header
        | About us
      p.text-left
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Quis nostrud exercitation.
    .col-m-4.footer-segment.footer-touch
      .row
        h3.footer-header Keep in touch
        .col-m-3 Adress:
        .col-m-9
          | 66 South Street,
          br
          | Windows 6 Wonderland
        .col-m-3 Phone:
        .col-m-9
          | +440 35336452342 - Office
          br
          |                        +440 35336452342 - Fax
        .col-m-3 Email:
        .col-m-9 freepdddsik@sitename.com
    .col-m-4.footer-segment.footer-social
      h3.footer-header Social media
      p.text-left Lorem ipsum is simply dummy text of the printing and typesetting industry.
      .footer-segment-icons
        i.fa.fa-youtube.footer-segment-icon
        i.fa.fa-google-plus.footer-segment-icon
        i.fa.fa-facebook.footer-segment-icon
        i.fa.fa-twitter.footer-segment-icon
        i.fa.fa-shower.footer-segment-icon
        i.fa.fa-instagram.footer-segment-icon
  section.col-m-12.footer-copywright.text-center
    p Copyrights 2017
