header
			nav
				.menu.row
					.menu-logo.col-m-4.text-center
						img.logo-image(src="http://placehold.it/150x30" alt="logo")
					.col-m-8.text-center
						ul.nav-list
							li.nav-list-element
								a.nav-list-link(href="#") Home
							li.nav-list-element
								a.nav-list-link(href="#") Pages
							li.nav-list-element
								a.nav-list-link(href="#") Services
							li.nav-list-element
								a.nav-list-link(href="#") Blog
							li.nav-list-element
								a.nav-list-link(href="#") Contact
			section.hero
				.slogan
					h1 Slogan
					p
						| Pellentesque ante mauris, lacinia quis augue nec, molestie cursus justo.
