.container
  .row
    .benefits-container
      .benefits.col-m-4
        .benefits-segment
          i.fa.fa-handshake-o(aria-hidden="true")
          h2 Praesent
          p.benefits-segment-text
            | Mauris molestie magna quis ullamcorper commodo.
      .benefits.col-m-4
        .benefits-segment.benefits-segment-center
          i.fa.fa-address-book(aria-hidden="true")
          h2.benefits-segment-center
            | Suspendisse
          p.benefits-segment-text
            | Praesent erat mi, tincidunt quis libero in.
      .benefits.col-m-4
        .benefits-segment
          i.fa.fa-bar-chart(aria-hidden="true")
          h2
            | Maecenas
          p.benefits-segment-text
            | Duis tristique tristique porta. Fusce at enim pharetra, tempor mi eu.
  .row
    .central-text-container.col-m-12
      .text-center
        h2.central-text-header
          | Etiam et vestibulum
        p.central-text-discreption
          | Praesent faucibus gravida tellus in finibus.
  .row.gallery
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/landscape-nature-forest-trees.jpg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-285173.jpeg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-673920.jpeg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-674743.jpeg', alt='')
    .col-m-4.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-674859.jpeg', alt='')
  .row.gallery
    .col-m-4.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-674859.jpeg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/landscape-nature-forest-trees.jpg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-285173.jpeg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-673920.jpeg', alt='')
    .col-m-2.gallery-container
      .gallery-icons
        i.fa.fa-camera
        i.fa.fa-share
      img.gallery-image(src='./images/pexels-photo-674743.jpeg', alt='')
.row
  .people-container.container
    .people.text-center.col-m-3
      .people-segment
        img(src="./images/1.jpg")
        h2
          | Jane Crow
        p
          | Ut sed sapien magna. Vivamus aliquam mauris quis elementum semper. Etiam placerat orci non neque egestas facilisis. Cras sit amet metus est.
        .people-segment-position.col-m-3
          | Account Menager
    .people.text-center.col-m-3
      .people-segment
        img(src="./images/2.jpg")
        h2
          | John Doe
        p
          | Vestibulum, lectus eros convallis nisl, nec rutrum turpis felis sed dui. Donec ac nisi in nunc viverra ornare eu sed risus. Duis nec sagittis est.
        .people-segment-position.col-m-3
          | Project Menager
    .people.text-center.col-m-3
      .people-segment
        img(src="./images/3.jpg")
        h2
          | Alicia Cornfeld
        p
          | Duis dui mauris, maximus sed sagittis placerat, porttitor et ex. Praesent eget tincidunt tortor.
        .people-segment-position.col-m-3
          | CEO
    .people.text-center.col-m-3
      .people-segment
        img(src="./images/4.jpg")
        h2
          | Dean Barrel
        p
          | Phasellus pulvinar maximus sollicitudin. Suspendisse potenti. Ut dapibus est risus, ac aliquet dui vulputate id.
        .people-segment-position.col-m-3
          | HR SPecialist
section.subhero.row
  .col-m-4.subhero-image
  .subhero-text.col-m-8
    .row
      .col-12
        h2 Aenean mi nunc
      .col-m-8.subhero-paragraph
        p
          | Praesent faucibus gravida tellus in finibus. Donec tortor eros, hendrerit in metus quis, rhoncus faucibus odio. Ut vitae egestas mauris. Sed pharetra venenatis nisi, quis elementum magna pretium ut. Aenean mi nunc, mollis non malesuada id, auctor nec ante.
        .col-m-4
          p.subhero-paragraph-2
            | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
.row.container
  section.stats.text-center
    .col-m-3
      p.number 455
      p.content.text-center Followers
    .col-m-3
      p.number 1991
      p.content.text-center Since
    .col-m-3
      p.number 806
      p.content.text-center Happy Clients
    .col-m-3
      p.number 923
      p.content.text-center Projects
